@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;1,200;1,500&family=Inter:wght@400;500;700&display=swap');

$color-primary: #161616;
$color-navbar: #fff;
$color-hover: #aba4a4;
$color-active: #c6bebe;

html {
  font-size: 62.5%;
   font-family: 'Inter', sans-serif;
  background-color:#131516;
  color: #fff;
}

/*/
Navbar
/*/

.logo {
  height: 20%;
  width: 20%;
}

.nav-bar {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 1.5rem;
  justify-content: space-between;
}

.nav-bar {
  ul {
    padding: 0;
    margin: 0;

    list-style: none;

    display: flex;
    gap: 2rem;
  }

  li {
    color: $color-navbar;
    font-size: 1rem;
    text-decoration: none;

    a {
      color: inherit;
      text-decoration: none;

      &.active {
        font-size: 1.2rem;
        font-weight: bold;
      }

      &:hover {
        background-color: $color-hover;
      }
    }
  }
}

.logo {
  width: 50%;
  height: 50%;
}

/*/
DashBoard / GameShop
/*/

.center-title {
  text-align: center;
}

.games-container {
  display: flex;
  margin: auto;
  max-width: 120rem;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 3rem;
}

.game-container {
  border: solid 1px;
  max-height: 310px;
  max-width: 162px;
  border-width: 1px;
  border-image: linear-gradient(to right, red, purple);
  border-image-slice: 1;
  list-style: none;
  h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  p {
    text-align: center;
  }

  img {
    margin: 0.5rem;
  }
}

.card-container {
  width: 200px;
  height: 300px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.buy-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*/
MyGames
/*/


.game-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.gameshop-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.gamecard-img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

/*/
Layout
/*/

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  justify-items: center;
  
}

.game-shop {
  grid-row: 1;
  grid-column: 1 / -1;
  justify-self: center;
}

.my-games {
  grid-row: 2;
  grid-column: 1;
}

.favorite-games {
  grid-row: 2;
  grid-column: 2;
}

.favorites {
  display: flex;
  flex-direction: row;
  
}

/*/
Game Page Info
/*/

.game-info {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

/*/
Login Form
/*/
// Kilde for å lage popup Login : https://dev.to/afromatt6288/create-a-popup-form-for-login-and-then-style-it-37jl
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &-inner {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 40%;

    h2 {
      font-size: 3rem;
      margin-top: 0;
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    button[type="submit"],
    button[type="button"] {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #45a049;
      }
    }
    button[type="submit"] {
      margin-top: 20px;
    }

    button[type="button"] {
      margin-top: 20px;
      background-color: #f44336;

      &:hover {
        background-color: #da190b;
      }
    }

    button[type="submit"]:disabled,
    button[type="button"]:disabled {
      background-color: #bfbfbf;
      color: #ffffff;
      cursor: not-allowed;
    }
  }
}

.footer {
  font-size: 1.5rem;
  text-align: center;
  border: solid 1px;
  border-color: #fff;
}

/*
Responsivt design
*/


/* Media QUERIES UNDER 1155PX */

@media (max-width: 72.188rem) {
  .favorites {
    display: flex;
    flex-direction: column;
  }
 }


 /* Media QUERIES UNDER 760PX */
 @media (max-width: 47.5rem) {
  .game-container {
    border: solid 1px;
    max-height: 260px;
    max-width: 112px;
    border-width: 1px;
    border-image: linear-gradient(to right, red, purple);
    border-image-slice: 1;
    list-style: none;
    h2 {
      font-size: 1.3rem;
      text-align: center;
    }
  
    p {
      text-align: center;
    }
  
    img {
      margin: 0.5rem;
    }
  }
 

 .card-container {
  width: 150px;
  height: 200px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

 .gameshop-img {
  height: 90px;
  width: 90px;
  object-fit: cover;
}

.gamecard-img {
  height: 90px;
  width: 90px;
  margin: 0 auto;
}}

/* Media QUERIES UNDER 585PX */

@media (max-width: 36.563rem) {
  .game-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
  }

  .games-container {
    display: flex;
    margin: auto;
    max-width: 120rem;
    flex-wrap: wrap;
    padding: 1rem;
    
  }
}
/* Media QUERIES UNDER 470PX */
@media (max-width: 29.375rem) {



}